html { height: 100%; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; }
body { height: 100%; margin: 0; padding: 0 }
.hidden { display: none; }
kbd { color: black; background: #EEE; border-width: 1px 3px 3px 1px; border-style: solid; border-color: #CCC #AAA #888 #BBB; padding: 2px 4px; white-space: nowrap; }
#map_canvas { height: 100% }
.info-window-content { overflow: hidden; } /* eliminates odd scrollbars on map marker info windows */
.tags a { background-color: #E0EAF1; border-bottom: 1px solid #3E6D8E; border-right: 1px solid #7F9FB6; color: #3E6D8E; font-size: 90%; line-height: 2.4; margin: 2px 2px 2px 0; padding: 3px 4px 3px 4px; text-decoration: none; white-space: nowrap; }
.question-hyperlink { font-weight: bold; }
#site-selection fieldset { border: 1px solid #000; padding: 10px; }
#site-selection ul { list-style: none; }
#site-selection img { width: 30px; height: 30px; }
#site-selection .ui-dialog-buttonpane { margin: 0; }
#max-marker-count { width: 60px; }