<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	<!--Removed SQLCE usage, but feel free to re-add it from NuGet and uncomment it here for your own use.-->
    <!--<add name="StackGeography_sqlce" connectionString="Data Source=|DataDirectory|StackGeography.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
    <add name="StackGeography" connectionString="data source=(local);Integrated Security=SSPI;Initial Catalog=StackGeography" />
  </connectionStrings>
  <system.web>
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <!-- Really sad I have to disable validateRequest site-wide to bypass for one handler. -->
    <!-- Some user locations are already encoded and some need encoding, but this appears to work with both. -->
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>