<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0"/>
		<!-- Really sad I have to disable validateRequest site-wide to bypass for one handler. -->
		<!-- Some user locations are already encoded and some need encoding, but this appears to work with both. -->
		<pages validateRequest="false" />
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.html"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>